@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
    
    

</div>

<footer class="py-4 text-center shadow-lg text-white"
        style="background: #3f124a;
        background: linear-gradient(90deg,rgba(63, 18, 74, 1) 0%, rgba(71, 20, 105, 1) 49%, rgba(29, 17, 92, 1) 100%);">
    
    <p class="">&copy; @DateTime.Now.Year My Store - All rights reserved.</p>
    <p><a href="/About" class="text-white">About Us</a> | <a href="/Contact" class="text-white">Contact</a></p>
</footer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
