@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
    
    

</div>

<footer class="bg-primary-subtle py-4 text-center shadow-lg">
    <p class="">&copy; @DateTime.Now.Year My Store - All rights reserved.</p>
    <p><a href="/about" class="text-black">About Us</a> | <a href="/contact" class="text-black">Contact</a></p>
</footer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
